.section.header {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  .brand-logo {
    margin: 0;
    img {
      margin-left: 150px;
      transition: all .3s ease-out;
      margin-top: -35px;
      display: block;
      transform: translate(0,13px) scale(0.6, 0.6);
      @media (max-width: 768px) {
        margin-left: 0px;
      }
      @media (max-width: 1270px) {
        margin-left: 0px;
      }
      @media (max-width: 1120px) and (min-width: 993px) {
        display: none;
      }
      // Al estar el scroll en la parte mas alta.
      body.on-top & {
        @media (min-width: 700px) {
          margin-top: 5px;
          transform: scale(1, 1);
        }
      }
    }
  }
  nav {
    height: auto;
    line-height: 22px;
    width: 100%;
    display: block;
    background-color: transparent;
    height: 115px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    body.on-top & {
      box-shadow: 0px 2px 5px rgba(0,0,0,0);
      background-color: transparent;
    }
    .sidenav-trigger {
      color: #333;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 12px 0 0 0;
      li {
        float: left;
        display: table;
        justify-content: center;
        align-items: center;
        height: 80px;
        a {
          display: table-cell;
          vertical-align: middle;
          padding: 0px 30px;
          margin: 0;
          width: 180px;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          line-height: 22px;
          box-sizing: border-box;
          color: #667;
          position: relative;
          letter-spacing: 1px;
          &:hover {
            background-color: transparent;
            &:after {
              content: '';
              position: absolute;
              display: block;
              border-bottom: 3px solid #64dcdb;
              width: 90%;
              bottom: 0px;
              left: 5%;
            }
            &:before {
              content: '';
              position: absolute;
              display: block;
            }
          }
        }
      }
    }
  }
}