.section-content {
  &.one-column, &.two-column {
    .principal-column .page.content {
      display: block;
      background-color: #fff;
      padding: 50px 60px;
      box-sizing: border-box;
      box-shadow: 0px 5px 50px rgba(0,0,0,0.2);
      border-radius: 8px;
      max-width: 800px;
      margin: 0 auto 100px;
      @media (max-width: 800px) {
        padding: 30px 40px;
      }
      ul {
        padding-left: 40px;
        li {
          display: list-item;
          list-style-type: disc;
        }
      }
    }
  }
  &.one-column {
    .block > div {
      margin: 0 auto;
      padding: 107px 40px 120px;
    }
    .principal-column {
      margin: 0 auto;
    }
  }
  &.two-column {
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: block;
    background: #f6f9fd;
    display: flex;  
    flex-direction: row;
    @media (max-width: 1000px) {
      display: block;
    }
    .primary-column {
      width: 260px;
      padding-right: 90px;
    }
    .principal-column {
      width: calc(100% - 270px);
      @media (max-width: 1000px) {
        display: block;
      }
      @media (max-width: 800px) {
        width: auto;
        max-width: 800px;
      }
    }

    .secondary-column {
      display: flex;
      flex-direction: column;
      flex-basis: 200px;
      display: table-cell;
      width: 200px;
      margin-left: 40px;
      @media (max-width: 1000px) {
        display: block;
        width: auto;
      }

    }
  }
  &.full-page {
    width: 100%;
    max-width: none;
  }
  h2 {
    font-family: Montserrat;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    @media (max-width: 500px) {
      font-size: 32px;
      line-height: 32px;
    }
    .normal {
      font-weight: normal;
    }
  }
  h3 {
    font-family: Dosis;
    font-size: 31px;
    display: block;
    .normal {
      font-weight: normal;
    }
  }
  .subtitle {
    font-family: Montserrat;
    line-height: 26px;
    font-size: 16px;
    color: #555;
    text-align: center;
    display: block;
    margin-bottom: 50px;
  }
  .block.voluntary {
    background: #f6f9fd;
  }
  p {
    line-height: 26px;
    font-size: 16px;
    color: #555;
  }
  img[data-align=center] {
    margin: 0 auto;
    display: block;
  }
  img[data-align=right] {
    margin: 0 0 0 auto;
    display: block;
  }
}