.section-footer {
  background: linear-gradient(to right, #480569 0%, #620235 100%);
  color: #FFF;
  padding-top: 30px;
  .footer-top {
    .row {
      text-align: center;
      margin-bottom: -20px;
      &:after {
        display: inline-block;
        content: '';
        width: 100%;
        height: 2px;
      }
      ul, ol {
        text-align: left;
      }
    }
    .information {
      max-width: 430px;
      margin: 0 auto;
      display: inline-block;
      margin: 0 40px;
      img {
        display: block;
        width: 100%;
      }
    }
    .creator {
      margin: 0 100px;
      display: inline-block;
      width: 130px;
      img {
        display: block;
        width: 100%;
      }
    }
  }
    h3 {
      font-size: 23px;
    }
    a {
      color: #FFF;
      display: block;
      padding: 10px 5px 10px 7px;
      &:hover {
        background-color: rgba(255,255,255,0.1);
      }
    }
    .footer-summary {
      font-size: 13.5px;
      color: rgba(255,255,255,0.9)
    }

  .footer-below {
    display: table;
    text-align: center;
    height: 100px;
    width: 100%;
    .creator {
      display: table-cell;
      vertical-align: middle;
    }
  }
}